name: Build & Deploy Docker App

on:
  push:
    branches: [ "master" ]

env:
  IMAGE_NAME:rizkyoktamara/cicd
  CONTAINER_NAME:devops-cicd
  REGISTRY:docker.io

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t $REGISTRY/${{env.IMAGE_NAME}}:latest

      - name: Push Docker image
        run: docker push $REGISTRY/${{env.IMAGE_NAME}}:latest
