name: Build & Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Debug secrets
      #   run: |
      #     echo "USERNAME SET? ${{ secrets.DOCKERHUB_USERNAME != '' }}"
      #     echo "TOKEN SET? ${{ secrets.DOCKERHUB_TOKEN != '' }}"
      - name: Debug secrets
        run: |
          echo "USERNAME length: ${#DOCKERHUB_USERNAME}"
          echo "TOKEN length: ${#DOCKERHUB_TOKEN}"
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/apps-simple:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/apps-simple:${{ github.sha }}